<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jigpud.snow.mapper.CommentLikeMapper">
    <select id="insertIgnore">
        INSERT IGNORE INTO comment_like (userid, comment_id) VALUES (#{userid}, #{commentId});
    </select>
</mapper>