<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jigpud.snow.mapper.RecommendAttractionMapper">
    <select id="getRecommendAttractionList" resultType="Attraction">
        SELECT
            attraction.*,
            (SELECT COUNT(*) FROM story WHERE attraction.attraction_id = story.attraction_id) AS story_count,
            (SELECT COALESCE(AVG(score), 0) FROM attraction_score WHERE attraction.attraction_id = attraction_score.attraction_id) AS score
        FROM attraction
        ORDER BY (story_count * 0.05 + score * 0.95) DESC
    </select>
</mapper>