<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jigpud.snow.mapper.RecommendUserMapper">
    <select id="getRecommendUserList" resultType="User">
        SELECT
            user.*,
            (SELECT COUNT(*) FROM user_follow WHERE user_follow.userid = user.userid) AS followers,
            (SELECT COUNT(*) FROM story WHERE story.author_id = user.userid) AS story_count
        FROM user
        WHERE
              userid != #{userid}
          AND
              EXISTS(SELECT * FROM role WHERE role.userid = user.userid AND role.role = 'user')
        ORDER BY (followers * 0.8 + story_count * 0.2) DESC
    </select>
</mapper>