<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jigpud.snow.mapper.UserFollowMapper">
    <select id="insertIgnore">
        INSERT IGNORE INTO user_follow (userid, follower_id) VALUES (#{userid}, #{followerId})
    </select>

    <select id="getFollowingList" resultType="User">
        SELECT
               user.*
        FROM user
        WHERE
              user.userid IN (SELECT user_follow.userid FROM user_follow WHERE user_follow.follower_id = #{userid})
    </select>

    <select id="getFollowerList" resultType="User">
        SELECT
               user.*
        FROM user
        WHERE
              user.userid IN (SELECT user_follow.follower_id FROM user_follow WHERE user_follow.userid = #{userid})
    </select>
</mapper>